<% if flash[:errors] %>
    <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <% flash[:errors].each do |message| %> <%= message %>. <% end %></div>
<% end %>


<form action='/sessions' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
<table>
	<tbody>
		<tr>
  			<td>Email: </td><td><input type='text' name='user[email]' /></td>
		</tr>
		<tr>
			<td>Password: </td><td><input type='password' name='user[password]'/></td>
		</tr>
  </tbody>
  </table>
  <input type='submit' value='Log In' />
</form>
