<style>
#newsessions {
  background-image:url('/assets/background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 100vh;
  text-align: center;
}
.imglogo2 {
  padding-top: 25%
}
#logorow {
  padding-top: 50px;
}
.logindiv {
  background-color: white;
  margin-top: 20%;
  padding: 0px 20px 10px 20px;
}
.logbutton {
  padding: 10px 103px 10px 103px;
  border-radius: 5px;
  border: 0;
  background-color: #81CD95;
  color: white;
  letter-spacing: 2px;
}
</style>
<div id="newsessions">
<div class="container">
  <div class="row" id="logorow">
    <a class="imglogo" href="/"><%= image_tag "cahoots_logo_white.png" %></a>
  </div>
  <div class="row">
    <div class="col-xs-5 col-md-4"></div>
    <div class="col-xs-8 col-md-4">
      <!-- <p class="imglogo2"><a href="/"><%= image_tag "cahoots_logo_white.png" %></a></p> -->
      <% if flash[:errors] %>
      <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <% flash[:errors].each do |message| %> <%= message %>. <% end %></div>
      <% end %>
      <div class="logindiv">
      <h2><small>Log In</small></h2>
      <form action="/sessions" method="post" class="form-horizontal">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="text" name="user[email]" class="form-control" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="user[password]" class="form-control" placeholder="Password">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input class="logbutton" type="submit" value="Log In">
        </div>
        </div>
      </form>
      <p>Need an account? <a href="/users/new">Join here.</a></p>
      </div>
      </div>
  <div class="col-xs-5 col-md-4"></div>
  </div>
</div>
</div>
