<style>
body {
  background-image: url('/assets/big_green_img.png');
  background-size:100% auto;
}
</style>
<h2>Welcome to Cahoots</h2>
<h3><a href="/login" class="btn btn-default">Login</a> <a href="/register" class="btn btn-default">Join</a></h3>
